@import "../../theme.scss";

nav{
  width: 100%;
  height: 30px;
  margin: auto;
  background-color: white;
  border-bottom: 1px solid $border;
  display: flex;
  a{
    border: none;
    background-color: white;
    width: 50%;
    height: 30px;
    cursor: pointer;
    font-family: $fs-reg;
    font-size: 16px;
    color: $blue-light;
     &.active{
      border-bottom: 2px solid $blue-dark;
      color: $blue-dark;
    }
    &:hover {
      color: $blue-dark;
    }
  }
}

@media screen and (min-width: $tablet) {
  nav{
    justify-content: flex-end;
    a{
      max-width: 10%;
    }

  }
}
